<title>Chefront - Create Outlet</title>

<link rel="stylesheet" href="/public/css/profile.css">

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">Create New Outlet</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.business_name}}" role="tab"
                                aria-controls="home" aria-selected="false">Business Profile</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Outlets</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/u/b/{{user.business_name}}/create-outlet">Create new outlet</a>
                                <a class="dropdown-item" href="/u/b/{{user.business_name}}/view-outlets">View existing outlets</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Discount slots</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/u/b/{{user.business_name}}/create-discount-slot">Create new slot</a>
                                <a class="dropdown-item" href="/u/b/{{user.business_name}}/view-discount-slots">View existing slots</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.business_name}}/reservation-status" role="tab"
                                aria-controls="home" aria-selected="false">View reservation status</a>
                        </li>
                    </ul>
                    <form action="/u/b/{{user.business_name}}/create-outlet" method="post">
                        {{#if user}}
                            <div class="form-group row">
                                <label for="staticBusinessName" class="col-sm-2 col-form-label">Outlet Name</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="staticBusinessName"
                                        value="{{user.business_name}}" name="BusinessName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="location" class="col-sm-2 col-form-label">Location</label>
                                <div class="col-sm-10">
                                    <select class="form-control text-dark form-select" id="location" name="Location">
                                        <option selected>Select closest MRT station</option>
                                        <option value="Ang Mo Kio">Ang Mo Kio</option>
                                        <option value="Bishan">Bishan</option>
                                        <option value="Choa Chu Kang">Choa Chu Kang</option>
                                        <option value="Dhoby Ghaut">Dhoby Ghaut</option>
                                        <option value="Harbourfront">Harbourfront</option>
                                        <option value="Kovan">Kovan</option>
                                        <option value="Punggol">Punggol</option>
                                        <option value="Sengkang">Sengkang</option>
                                        <option value="Serangoon">Serangoon</option>
                                        <option value="Somerset">Somerset</option>
                                        <option value="Tampines">Tampines</option>
                                        <option value="Yishun">Yishun</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control text-dark" id="address"
                                        placeholder="125A Fernvale Rd #21-191" name="Address">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="postalCode" class="col-sm-2 col-form-label">Postal Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control text-dark" id="postalCode" placeholder="791059"
                                        name="Postalcode">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-2 col-form-label">Price</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control text-dark" id="price" placeholder="$" name="Price">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contact" class="col-sm-2 col-form-label">Contact</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control text-dark" id="contact"
                                        placeholder="+65 9665 9281" name="Contact">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control text-dark" id="description" rows="5" maxlength="300"
                                        placeholder="Enter outlet description" name="Description"></textarea>
                                    <div id="word-count">
                                        <span id="current">0</span>
                                        <span id="maximum">/ 300</span>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        <button type="submit" class="btn btn-danger btn-block col-sm-10 rounded-pill shadow-sm" style="margin-left: 125px;">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('textarea').keyup(function () {

        var characterCount = $(this).val().length,
            current = $('#current'),
            maximum = $('#maximum'),
            wordCount = $('#word-count');

        current.text(characterCount);
    });
</script>