<title>Chefront - View Discount Slots</title>

<link rel="stylesheet" href="/public/css/profile.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>


<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <h2 class="h3 mb-4 page-title">Discount Slots</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/{{user.business_name}}" role="tab"
                                aria-controls="home" aria-selected="false">Business Profile</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Outlets</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/u/{{user.business_name}}/create-outlet">Create new outlet</a>
                                <a class="dropdown-item" href="/u/{{user.business_name}}/view-outlets">View existing outlets</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Discount slots</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/u/{{user.business_name}}/create-discount-slot">Create new slot</a>
                                <a class="dropdown-item" href="/u/{{user.business_name}}/view-discount-slots">View existing slots</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/{{user.business_name}}/reservation-status" role="tab"
                                aria-controls="home" aria-selected="false">View reservation status</a>
                        </li>
                    </ul>
                    <table
                        id="table"
                        data-toggle="table"
                        data-width = "50px" 
                        data-pagination="true"
                        data-page-size="10"
                        data-search="true">
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col" data-sortable="true">Location</th>
                              <th scope="col" data-sortable="true">Time</th>
                              <th scope="col" data-sortable="true">Discount</th>
                              <th scope="col" data-sortable="true">Expired</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each discountslot}}
                              <tr>
                                  <td>{{ location }}</td>
                                  <td>{{ time }}</td>
                                  <td>{{ discount }}</td>
                                  <td>{{ expired }}</td>
                              </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>