<title>Chefront - Reservation Status</title>

<link rel="stylesheet" href="/public/css/profile.css">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">Reservation Status</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}" role="tab"
                                aria-controls="home" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}/view-outlets" role="tab"
                                aria-controls="home" aria-selected="false">Outlets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}/view-discount-slots" role="tab"
                                aria-controls="home" aria-selected="false">Discount slots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" href="/u/b/{{user.name}}/select-outlet" role="tab"
                                aria-controls="home" aria-selected="false">View reservation status</a>
                        </li>
                    </ul>
                </div>
            </div>
            <table
                id="table"
                data-toggle="table"
                data-width = "50px" 
                data-pagination="true"
                data-page-size="10"
                data-page-list="[10, 25, 50, 100, all]"
                data-search="true">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col" data-sortable="true">Date</th>
                    <th scope="col" data-sortable="true">Customer Name</th>
                    <th scope="col" data-sortable="true">Reservation ID</th>
                    <th scope="col" data-sortable="true">Timing</th>
                    <th scope="col" data-sortable="true">Discount</th>
                    <th scope="col" data-sortable="true">Pax</th>
                    <th scope="col" data-sortable="true">Attended?</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each reservation}}
                        <tr>
                            <td>{{ date }}</td>
                            <td>{{ user_name }}</td>
                            <td>{{ reservation_id }}</td>
                            <td>{{ time }}</td>
                            <td>{{ discount }}%</td>
                            <td>{{ pax }}</td>
                            <td>
                                <div style="word-spacing: 5px;">
                                    <a href="/u/b/{{name}}/{{location}}/{{reservation_id}}/missed"><i class="fas fa-times fa-lg"></i></a>
                                    <a href="/u/b/{{name}}/{{location}}/{{reservation_id}}/attended"><i class="fas fa-check fa-lg"></i></a>
                                </div>
                            </td>
                            {{!-- <td><input type="checkbox" checked data-on="No" data-off="Yes" data-toggle="toggle" data-onstyle="outline-danger" data-offstyle="outline-success"></td> --}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    $("#table").bootstrapTable("hideLoading");
</script>