<title>Chefront - Reservation Status</title>

<link rel="stylesheet" href="/public/css/profile.css">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">Reservation Status</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.business_name}}" role="tab"
                                aria-controls="home" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Outlets</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/u/b/{{user.business_name}}/create-outlet">Create new outlet</a>
                                <a class="dropdown-item" href="/u/b/{{user.business_name}}/view-outlets">View existing outlets</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Discount slots</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/u/b/{{user.business_name}}/create-discount-slot">Create new slot</a>
                                <a class="dropdown-item" href="/u/b/{{user.business_name}}/view-discount-slots">View existing slots</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" href="/u/b/{{user.business_name}}/reservation-status" role="tab"
                                aria-controls="home" aria-selected="false">View reservation status</a>
                        </li>
                    </ul>
                </div>
            </div>
            <table
                id="table"
                data-toggle="table"
                data-width = "50px" 
                data-pagination="true"
                data-page-size="10"
                data-search="true">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col" data-sortable="true">Customer Name</th>
                    <th scope="col" data-sortable="true">Reservation ID</th>
                    <th scope="col" data-sortable="true">Timing</th>
                    <th scope="col" data-sortable="true">Discount</th>
                    <th scope="col" data-sortable="true">Pax</th>
                    <th scope="col" data-sortable="true">Attended?</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>74NMP3</td>
                        <td>4.00pm</td>
                        <td>50%</td>
                    <td><input type="checkbox" checked data-on="No" data-off="Yes" data-toggle="toggle" data-onstyle="outline-danger" data-offstyle="outline-success"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    $("#table").bootstrapTable("hideLoading");
</script>