<title>Chefront - View Outlets</title>

<link rel="stylesheet" href="/public/css/profile.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">

<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/addrbar/bootstrap-table-addrbar.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">{{user.name}} Outlets</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}" role="tab"
                                aria-controls="home" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" href="/u/b/{{user.name}}/view-outlets" role="tab"
                                aria-controls="home" aria-selected="false">Outlets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}/view-discount-slots" role="tab"
                                aria-controls="home" aria-selected="false">Discount slots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}/select-outlet" role="tab"
                                aria-controls="home" aria-selected="false">View reservation status</a>
                        </li>
                    </ul>
                </div>
            </div>
            <table
                id="table"
                data-toggle="table"
                data-width = "50px" 
                data-pagination="true"
                data-page-size="10"
                data-buttons="buttons"
                data-show-columns="true"
                data-show-refresh="true"
                data-show-columns-toggle-all="true"
                data-show-pagination-switch="true"
                data-show-fullscreen="true"
                data-search="true"
                data-url="/u/b/{{user.name}}/outlets-data"
                data-side-pagination="server">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" data-sortable="true" data-field="location">Location</th>
                        <th scope="col" data-sortable="true" data-field="address">Address</th>
                        <th scope="col" data-sortable="true" data-field="postal_code">Postal Code</th>
                        <th scope="col" data-sortable="true" data-field="price">Price</th>
                        <th scope="col" data-sortable="true" data-field="contact">Contact</th>
                        <th scope="col" data-sortable="true" data-field="description">Description</th>
                        <th scope="col" data-formatter="table_thumbnail">Thumbnail</th>
                        <th scope="col" data-formatter="table_row_edit">Actions</th>
                    </tr>
                </thead>
               <tbody>
               </tbody>
            </table>
        </div>
    </div>
</section>

<script>
  function buttons () {
    return {
      btnAdd: {
        icon: 'fa-plus',
        event: function () {
          window.location.href = "http://localhost:3000/u/b/{{user.name}}/create-outlet";  
        },
        attributes: {
          title: 'Add a new outlet'
        }
      }
    }
  }

  $('textarea').keyup(function () {

        var characterCount = $(this).val().length,
            current = $('#current'),
            maximum = $('#maximum'),
            wordCount = $('#word-count');

        current.text(characterCount);
    });

    function table_thumbnail(value, row, index) {
		return `
		<img src="/${row.thumbnail}" 
        style="width: 75px; height: 50px; padding-bottom: 5px;"
        alt="Thumbnail" class="w3-hover-opacity"><br>
        <a href="/${row.thumbnail}" download><i class="bi bi-file-text">hello</i></a>
		`;
	}

    function table_row_edit(value, row, index) {
		return `
		<a href="../${row.name}/edit-outlet/${row.postal_code}"><i class="material-icons" title="Edit">&#xE254;</i></a>
        <a href="/u/b/${row.name}/delete-outlet/${row.postal_code}" class="delete"><i class="material-icons" title="Delete">&#xE872;</i></a>
		`;
	}
</script>
