<title>Chefront - View Discount Slots</title>

<link rel="stylesheet" href="/public/css/profile.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">{{user.business_name}} Discount Slots</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.business_name}}" role="tab"
                                aria-controls="home" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.business_name}}/view-outlets" role="tab"
                                aria-controls="home" aria-selected="false">Outlets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" href="/u/b/{{user.business_name}}/view-discount-slots" role="tab"
                                aria-controls="home" aria-selected="false">Discount slots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.business_name}}/reservation-status" role="tab"
                                aria-controls="home" aria-selected="false">View reservation status</a>
                        </li>
                    </ul>
                </div>
            </div>
            <table
                id="table"
                data-toggle="table"
                data-width = "50px" 
                data-pagination="true"
                data-page-size="10"
                data-buttons="buttons"
                data-show-columns="true"
                data-show-refresh="true"
                data-show-columns-toggle-all="true"
                data-show-pagination-switch="true"
                data-show-fullscreen="true"
                data-search="true">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" data-sortable="true">Location</th>
                        <th scope="col" data-sortable="true">Time</th>
                        <th scope="col" data-sortable="true">Discount</th>
                        <th scope="col" data-sortable="true">Expired</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each discountslot}}
                        <tr>
                            <td>{{ location }}</td>
                            <td>{{ time }}</td>
                            <td>{{ discount }}</td>
                            <td>{{ expired }}</td>
                            <td>
                                <a href="../{{business_name}}/edit-discount-slot/{{uuid}}"><i class="material-icons" title="Edit">&#xE254;</i></a>
                                <a href="/u/b/{{business_name}}/delete-discount-slot/{{uuid}}" class="delete" ><i class="material-icons" title="Delete">&#xE872;</i></a>                                      
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
  function buttons () {
    return {
      btnAdd: {
        icon: 'fa-plus',
        event: function () {
          window.location.href = "http://localhost:3000/u/b/{{user.business_name}}/create-discount-slot";  
        },
        attributes: {
          title: 'Add a new discount slot'
        }
      }
    }
  }
</script>