<title>Chefront - Update Outlet</title>

<link rel="stylesheet" href="/public/css/profile.css">

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">Update Outlet</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}" role="tab"
                                aria-controls="home" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" href="/u/b/{{user.name}}/view-outlets" role="tab"
                                aria-controls="home" aria-selected="false">Outlets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}/view-discount-slots" role="tab"
                                aria-controls="home" aria-selected="false">Discount slots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}/select-outlet" role="tab"
                                aria-controls="home" aria-selected="false">View reservation status</a>
                        </li>
                    </ul>
                    <form action="../../{{outlet.name}}/saveOutlet/{{outlet.postal_code}}?_method=PUT" method="post" enctype="multipart/form-data">
                        {{#if user}}
                            <div class="form-group row">
                                <label for="staticBusinessName" class="col-sm-2 col-form-label">Outlet Name</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="staticBusinessName"
                                        value="{{user.name}}" name="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="category" class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                    <select class="form-control text-dark form-select" id="category" name="Category">
                                        <option selected value="{{outlet.category}}">{{outlet.category}}</option>
                                        {{#each categories}}
                                            <option value="{{name}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="location" class="col-sm-2 col-form-label">Location</label>
                                <div class="col-sm-10">
                                    <select class="form-control text-dark form-select" id="location" name="Location">
                                        <option selected value="{{outlet.location}}">{{outlet.location}}</option>
                                        <option value="Ang Mo Kio">Ang Mo Kio</option>
                                        <option value="Bishan">Bishan</option>
                                        <option value="Choa Chu Kang">Choa Chu Kang</option>
                                        <option value="Dhoby Ghaut">Dhoby Ghaut</option>
                                        <option value="Harbourfront">Harbourfront</option>
                                        <option value="Kovan">Kovan</option>
                                        <option value="Punggol">Punggol</option>
                                        <option value="Sengkang">Sengkang</option>
                                        <option value="Serangoon">Serangoon</option>
                                        <option value="Somerset">Somerset</option>
                                        <option value="Tampines">Tampines</option>
                                        <option value="Yishun">Yishun</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <input 
                                        id="address"
                                        type="text"
                                        required="" autofocus=""
                                        minlength="20" maxlength="80" 
                                        title="Address should be at least 20 characters long"
                                        class="form-control text-dark"                              
                                        name="Address"
                                        value="{{outlet.address}}"
                                        >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="postalCode" class="col-sm-2 col-form-label">Postal Code</label>
                                <div class="col-sm-10">
                                    <input 
                                        id="postalCode"
                                        type="text"
                                        required="" autofocus=""
                                        pattern="[0-9]{6}" 
                                        title="Postal code should consist of only 6 numbers"
                                        class="form-control text-dark"
                                        name="Postalcode"
                                        value="{{outlet.postal_code}}"
                                        >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-2 col-form-label">Price</label>
                                <div class="col-sm-10">
                                    <input 
                                        id="price" 
                                        type="text"
                                        placeholder="$" required="" autofocus=""
                                        pattern="[0-9]{,3}"
                                        title="Price should contain numbers only"
                                        class="form-control text-dark"
                                        name="Price"
                                        value="{{outlet.price}}"
                                        >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contact" class="col-sm-2 col-form-label">Contact</label>
                                <div class="col-sm-10">
                                    <input
                                        id="contact"
                                        type="text"
                                        placeholder="+65" required="" autofocus=""
                                        pattern="[0-9]{8}"
                                        title="Contact number should contain only eight numbers"
                                        class="form-control text-dark" 
                                        name="Contact"
                                        value="{{outlet.contact}}"
                                        >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control text-dark" id="description" rows="5" maxlength="300"
                                        name="Description">{{outlet.description}}</textarea>
                                    <div id="word-count">
                                        <span id="current">0</span>
                                        <span id="maximum">/ 300</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="form-group row">
                                <label for="thumbnail" class="col-sm-2 col-form-label">Thumbnail</label>
                                <div class="col-sm-5">
                                    <input type="file" onchange="readURL(this);" class="form-control" id="thumbnail"
                                    name="Thumbnail" class="file-input" accept="image/png, image/jpg, image/jpeg, image/svg">
                                    <p><i>Only upload images with the following format:</i> .PNG/.JPG/.JPEG/.SVG</p>
                                </div>
                                <div class="col-sm-4 image-preview">
                                    <center>
                                        <p>Image Preview:</p>
                                        <img id="blah" src="/{{outlet.thumbnail}}" alt=" " class="inside-preview" 
                                        onerror="this.src=`/public/img/placeholderpng`;"/>
                                    </center>
                                </div>
                            </div>
                        {{/if}}
                        <button type="submit" class="btn btn-danger btn-block col-sm-10 rounded-pill shadow-sm" style="margin-left: 125px;">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('textarea').keyup(function () {

        var characterCount = $(this).val().length,
            current = $('#current'),
            maximum = $('#maximum'),
            wordCount = $('#word-count');

        current.text(characterCount);
    });

     function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    function image_profile_preview(event) {
		document.getElementById("blah").src = event.target.result;
	}

</script>