<title>Chefront - Update Discount Slot</title>

<link rel="stylesheet" href="/public/css/profile.css">

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">Update Discount Slot</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}" role="tab"
                                aria-controls="home" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}/view-outlets" role="tab"
                                aria-controls="home" aria-selected="false">Outlets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" href="/u/b/{{user.name}}/view-discount-slots" role="tab"
                                aria-controls="home" aria-selected="false">Discount slots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/b/{{user.name}}/select-outlet" role="tab"
                                aria-controls="home" aria-selected="false">View reservation status</a>
                        </li>
                    </ul>
                    <form action="/u/b/{{user.name}}/saveDiscountSlot/{{discount_slot.uuid}}?_method=PUT" method="post">
                        {{#if user}}
                            <div class="form-group row">
                                <label for="staticBusinessName" class="col-sm-2 col-form-label">Outlet Name</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="staticBusinessName"
                                        value="{{user.name}}" name="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="location" class="col-sm-2 col-form-label">Location</label>
                                <div class="col-sm-10">
                                     <select class="form-control text-dark form-select" id="location" name="Location">
                                        <option selected>{{discount_slot.location}}</option>
                                        {{#each outlet}}
                                            <option value="{{location}}">{{location}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                    <input type="time" class="form-control text-dark" id="time" placeholder="" name="Time" value="{{discount_slot.time}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contact" class="col-sm-2 col-form-label">Discount</label>
                                <div class="col-sm-10">
                                    <select class="form-control text-dark form-select" id="discount" name="Discount">
                                        <option value="{{discount_slot.discount}}" selected>{{discount_slot.discount}}%</option>
                                        <option value="10">10%</option>
                                        <option value="20">20%</option>
                                        <option value="30">30%</option>
                                        <option value="40">40%</option>
                                        <option value="50">50%</option>
                                    </select>
                                </div>
                            </div>
                        {{/if}}
                        <button type="submit" class="btn btn-danger btn-block col-sm-10 rounded-pill shadow-sm" style="margin-left: 125px;">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>