<title>Chefront - Edit Profile</title>

<link rel="stylesheet" href="/public/css/profile.css">

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">Edit Profile Settings</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" href="/u/c/{{user.email}}" role="tab"
                                aria-controls="home" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/u/c/my-reservations/{{user.email}}" role="tab"
                                aria-controls="home" aria-selected="false">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="false">Favourites</a>
                        </li>
                    </ul>
                    <form class="col-12" action="/u/c/saveUser/{{user.email}}?_method=PUT" method="post">
                        <div class="row mt-5 align-items-center">
                            <div class="col-md-3 text-center mb-5">
                                <div class="avatar avatar-xl">
                                    <img src="../../../public/img/illustrations/user.png" alt="..."
                                        class="avatar-img rounded-circle" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="row align-items-center">
                                    <div class="col-md-7">
                                        <h4 class="mb-1">{{user.name}} </h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-12">                                       
                                        <p class="small mb-0 text-muted">{{user.email}}</p>
                                        <p class="small mb-0 text-muted">{{user.contact}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="firstname">Name</label>
                                <input name="Name" type="text" id="firstname" class="form-control text-dark" value="{{user.name}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress5">Phone Number</label>
                            <input name="Contact" type="text" class="form-control text-dark" id="inputAddress5"  value="{{user.contact}}"/>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">Email</label>
                            <input type="email" name="Email" class="form-control text-dark" id="inputEmail4" value="{{user.email}}"/>
                        </div>
                        <hr class="my-4" />
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputPassword4">Old Password</label>
                                    <input name="OldPassword" type="password" class="form-control text-dark" id="inputPassword5" />
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword5">New Password</label>
                                    <input name="InputPassword" type="password" class="form-control text-dark" id="inputPassword5" />
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword6">Confirm Password</label>
                                    <input name="ConfirmPassword" type="password" class="form-control text-dark" id="inputPassword6" />
                                </div>
                            </div>
                            <div class="col-md-6"uhh>
                                <p class="mb-2">Password requirements</p>
                                <p class="small text-muted mb-2">To create a new password, you have to meet all of the
                                    following requirements:</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>Minimum 8 character</li>
                                    <li>At least one special character</li>
                                    <li>At least one number</li>
                                    <li>Can’t be the same as a previous password</li>
                                </ul>
                            </div>
                        </div>
                        <a href="/u/c/{{user.email}}"><button type="button" class="btn btn-outline-danger mr-3">Cancel</button></a>
                        <button type="submit" class="btn btn-danger">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>