<title>Chefront - Admin Dashboard</title>

<link rel="stylesheet" href="/public/css/profile.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<link rel="stylesheet" href=“https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css”/>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">Admin Dashboard</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" href="/admin/adminDashboard" role="tab"
                                aria-controls="home" aria-selected="false">Dashboard</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Users</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/admin/adminUsers">View Admins</a>
                                <a class="dropdown-item" href="/admin/businessUsers">View Businesses</a>
                                <a class="dropdown-item" href="/admin/customerUsers">View Customers</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/admin/categories" role="tab"
                                aria-controls="home" aria-selected="false">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/admin/outlets" role="tab"
                                aria-controls="home" aria-selected="false">Outlets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/admin/feedback" role="tab"
                                aria-controls="home" aria-selected="false">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
       
            <div class="col-md-4 col-xl-3">
                <a href="/admin/outlets" style="text-decoration: none;">
                    <div class="card card-dash">
                        <div class="card-block">
                            <h1><i class="fas fa-utensils" style="margin-top: 30px; margin-left:25px; font-size:50px;"></i></h1>
                            <h1 class="text-center" style="margin-top: -70px;"><span>&nbsp;{{outlet_count}}</span></h1>
                            <h5 class="text-right" style="margin-top: -2px; margin-right:-5px; padding-right: 5px;">Total Restaurants &nbsp;</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-xl-3">
                <a href="/admin/businessUsers" style="text-decoration: none;">
                    <div class="card card-dash">
                        <div class="card-block">
                            <h1><i class="fas fa-users" style="margin-top: 30px; margin-left:20px; font-size:50px;"></i></h1>
                            <h1 class="text-center" style="margin-top: -70px; margin-left:10px"><span>&nbsp;{{business_count}}</span></h1>
                            <h5 class="text-right" style="margin-top: -2px; margin-right:-5px; padding-right: 5px;">Registered Businesses &nbsp;</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-xl-3">
                <a href="/admin/customerUsers" style="text-decoration: none;">
                    <div class="card card-dash">
                        <div class="card-block">
                            <h1><i class="fas fa-users" style="margin-top: 30px; margin-left:20px; font-size:50px;"></i></h1>
                            <h1 class="text-center" style="margin-top: -70px; margin-left:10px"><span>&nbsp;{{customer_count}}</span></h1>
                            <h5 class="text-right" style="margin-top: -2px; margin-right:-5px; padding-right: 5px;">Registered Customers &nbsp;</h5>
                        </div>
                    </div>
                </a>
            </div>
        
            <div class="col-md-4 col-xl-3">
                <a href="/admin/feedback" style="text-decoration: none;">
                    <div class="card card-dash">
                        <div class="card-block">
                            <h1><i class="fas fa-book" style="margin-top: 30px; margin-left:25px; font-size:50px;"></i></h1>
                            <h1 class="text-center" style="margin-top: -70px;"><span>&nbsp;{{feedback_count}}</span></h1>
                            <h5 class="text-right" style="margin-top: -2px; margin-right:10px; padding-right: 5px;">Total Feedback &nbsp;</h5>
                        </div>
                    </div>
                </a>
            </div>

            

            <div class="col-md-4 col-xl-3" style="margin-top: 50px;">
                <a href="/admin/adminUsers" style="text-decoration: none;">
                    <div class="card card-dash">
                        <div class="card-block">
                            <h1><i class="fa fa-tools" aria-hidden="true" style="margin-top: 30px; margin-left:25px; font-size:50px;"></i></h1>
                            <h1 class="text-center" style="margin-top: -70px;"><span>&nbsp;{{admin_count}}</span></h1>
                            <h5 class="text-right" style="margin-top: -2px; margin-right:35px; padding-right: 5px;">Total Admins &nbsp;</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-xl-3" style="margin-top: 50px;">
                <div class="card card-dash">
                    <div class="card-block">
                        <h1><i class="fa fa-ban" aria-hidden="true" style="margin-top: 30px; margin-left:25px; font-size:50px;"></i></h1>
                        <h1 class="text-center" style="margin-top: -70px;"><span>&nbsp;486</span></h1>
                        <h5 class="text-right" style="margin-top: -2px; margin-right:15px; padding-right: 5px;">Banned Users &nbsp;</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3" style="margin-top: 50px;">
                <div class="card card-dash">
                    <div class="card-block">
                        <h1><i class="fa fa-window-close" aria-hidden="true" style="margin-top: 30px; margin-left:25px; font-size:50px;"></i></h1>
                        <h1 class="text-center" style="margin-top: -70px;"><span>&nbsp;486</span></h1>
                        <h5 class="text-right" style="margin-top: -2px; margin-right:-5px; padding-right: 5px;">Total cancelations &nbsp;</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function table_row_delete(value, row, index) {
		return `
        <a href = "/admin/editAdminUser/${row.name}" class = "edit"><i class="material-icons" title="Edit">&#xE254;</i></a>
        <a href="/admin/deleteAdminUser/${row.name}" class="delete"><i class="material-icons" title="Delete">&#xE872;</i></a>
		`;
	}

    function buttons () {
    return {
      btnAdd: {
        icon: 'fa-plus',
        event: function () {
          window.location.href = "http://localhost:3000/admin/createAdminUser";  
        },
        attributes: {
          title: 'Create an admin user'
        }
      }
    }
  }
</script>