<title>Chefront - Retrieve Feedback</title>

<link rel="stylesheet" href="/public/css/profile.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">View Feedback</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Users</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/admin/businessUsers">View Businesses</a>
                                <a class="dropdown-item" href="/admin/customerUsers">View Customers</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/admin/allOutlets" role="tab"
                                aria-controls="home" aria-selected="false">View outlets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" href="/admin/feedback" role="tab"
                                aria-controls="home" aria-selected="false">View feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <table id="table"
                data-toggle="table"
                data-width = "50px" 
                data-pagination="true"
                data-page-size="10"
                data-show-columns="true"
                data-show-refresh="true"
                data-show-columns-toggle-all="true"
                data-show-pagination-switch="true"
                data-show-fullscreen="true"
                data-search="true">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" data-sortable="true">Name</th>
                        <th scope="col" data-sortable="true">Email</th>
                        <th scope="col" data-sortable="true">Phone Number</th>
                        <th scope="col" data-sortable="true">Feedback</th>
                        <th scope="col" data-sortable="true">Read Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each feedback}}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ email }}</td>
                            <td>{{ phone }}</td>
                            <td>{{ message }}</td>
                            <td>{{ read }}</td>
                            <td><a href="/admin/deleteFeedback/{{uuid}}"><i class="material-icons" title="Delete">&#xE872;</i></a></td>
                        </tr>
                        {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>