<title>Chefront - Categories</title>

<link rel="stylesheet" href="/public/css/restaurants.css">

<section id="home" class="py-1 active pr-5">
	<div class="container position-relative">
		<div class="row align-items-center min-vh-60 my-lg-7 h-24">
			<div class="col-md-7 col-lg-7 text-center text-md-start py-8 px-5">
				<h1 class="ml-1 mb-4 display-2 lh-sm"> {{category.name}} <br class="d-block d-lg-none d-xl-block"/></h1>
                <div class="search">
                    <input type="search" id="search" class="form-control text-dark"
                    placeholder="Search for a restaurant" style="height: 3.5rem; border-radius:50px;padding: 0 25px">
                </div>
			</div>
		</div>
	</div>
</section>
<br>

<div>
    <div class="container">
        <div class="row my-4">
            <div class="col">
                <div class="carddeck">
                    <div class="d-flex flex-wrap justify-content-center">
                        {{#each restaurants}}
                            <div class="card mr-3 mb-5">
                                <a href="/restaurant/{{name}}/{{location}}">
                                    <img class="card-img-top img-fluid"
                                        src="/{{thumbnail}}"
                                        alt="Card image cap" width="300">
                                    <div class="card-body">
                                        <h4 class="card-title">{{name}}</h4>
                                        <p class="card-text">{{location}} • ${{price}}{{#ifEquals this.status "FULL"}}
                                        <button class="btn btn-danger" style="pointer-events: none;" id="status_btn">{{this.status}}</button>
                                        {{/ifEquals}}
                                        {{#ifEquals this.status "AVAILABLE"}}
                                        <button class="btn btn-success"  style="pointer-events: none;"id="status_btn">{{this.status}}</button>
                                        {{/ifEquals}}
                                        {{#ifEquals this.status "MODERATE"}}
                                        <button class="btn btn-warning" style="pointer-events: none;" id="status_btn">{{this.status}}</button>
                                        {{/ifEquals}}</p>
                                    </div>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery.expr[':'].contains = function (a, i, m) {
        return jQuery(a).text().toUpperCase()
            .indexOf(m[3].toUpperCase()) >= 0;
    };

    $('#search').keyup(function () {
        $('.card ').removeClass('d-none'); //
        var filter = $(this).val(); // get the value of the input, which we filter on
        $('.carddeck').find('.card a .card-body h4:not(:contains("' + filter + '"))').parent().parent().parent()
            .addClass('d-none');
    })
</script>