<title>Chefront - Payment</title>

<link rel="stylesheet" href="/public/css/payment.css">

<body onload="generate_qr_code(null)">
	<section>
		<div class="container py-5">
			<div class="row mb-4">
				<div class="col-lg-8 mx-auto text-center">
					<h2 class="display-6">First time booking with us?</h1>
						<p class="mb-0">This is a <strong>one-time</strong> deposit. Each time you miss a reservation or
							cancel 30 minutes before your reservation,
							there will be a penalty imposed.
						</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 mx-auto">
					<div class="card ">
						<div class="card-header">
							<div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
								<ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3 red">
									<li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link active"> <i
												class="fas fa-mobile-alt mr-2"></i> NetsQR </a> </li>
								</ul>
							</div>
							<div id="net-banking" class="tab-pane show active pt-3">
								<div class="form-group">
									<form action="/payment/deposit" method="post" name="form1">
										<input type="hidden" name="Id" value="{{reservation.reservation_id}}">
										<input type="hidden" name="BusinessName" value="{{reservation.name}}">
										<input type="hidden" name="Location" value="{{reservation.location}}">
										<input type="hidden" name="ResDate" value="{{reservation.date}}">
										<input type="hidden" name="Pax" value="{{reservation.pax}}">
										<input type="hidden" name="Time" value="{{reservation.time}}">
										<input type="hidden" name="Discount" value="{{reservation.discount}}">
										<input type="hidden" name="Name" value="{{reservation.user_name}}">
										<input type="hidden" name="Time" value="{{reservation.time}}">
										<input type="hidden" name="Email" value="{{reservation.user_email}}">
										<input type="hidden" name="Contact" value="{{reservation.user_contact}}">
									</form>
									
									<input class="form-control" type="hidden" name="amount" id="price" value="1">
									<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" id="qr_code">
								</div>
								<p class="text-muted">Note: After scanning the QR Code, you will be directed to a secure
									gateway for payment. After completing the payment process, you will be redirected back
									to the website to view details of your order. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

<script>
	$(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

	function changeSuccessImage(a) {
		document.getElementById("qr_code").src=a;
		document.getElementById("qr_code").width="250";
		document.getElementById("qr_code").height="283";
	}

	function changeErrorImage(a) {
		document.getElementById("qr_code").src=a;
		document.getElementById("qr_code").width="250";
		document.getElementById("qr_code").height="250";
	}

	/**
	 * Make a request to generate the QR code
	 * @param {InputEvent} event
	 **/
	async function generate_qr_code(event) {
		const response = await fetch("/payment/generate", {
			headers: {
				"Content-Type": "application/json"
			},
			method: "POST",
			body:   JSON.stringify({
				amount: document.getElementById("price").value
			})
		});
		if (response.ok) {
			const content = await response.json();
			preview_qr_code(content.qr_code);

			//	Start auto ping
			setTimeout(ping_transaction_status, 1000, 0, content);
		}
		res.status(200).send('testing');
	}
	
	/**
	 * Displays the QR code
	 * @param {string} qr_code
	 **/
	function preview_qr_code(qr_code) {
		document.getElementById("qr_code").src = `data:image;base64,${qr_code}`;
	}

	/**
	 * Make a HTTP request to query the generated transaction
	 * @param {JSON}   transaction
	 * @param {number} attempt
	 **/
	async function ping_transaction_status(attempt, transaction) {

		if (attempt > 30)
			return void_transaction(transaction);

		try {
			const response = await fetch("/payment/query", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					txn_identifier:   transaction.txn_identifier,
					transaction_date: transaction.transaction_date,
					transaction_time: transaction.transaction_time,
					stan:             transaction.stan,
					amount:           transaction.amount
				})
			});

			if (!response.ok) { throw new Error ("Failed to query transaction"); }
			const content = await response.json();
			const status  = content.status;
			
			switch (status) {
				case 0:
					console.log(`Awaiting for payment: ${attempt}`);
					return setTimeout(ping_transaction_status, 1000, attempt + 1, transaction);
				break;

				case 1:
					console.log(`Payment succeeded`);
					changeSuccessImage("https://about.iamhere.app/wp-content/uploads/2019/06/green-check-mark-icon-in-a-circle-tick-symbol-in-vector-23713629-1.jpg");
					document.form1.submit();

				break;

				case -1:
					console.log(`Payment cancelled`);
					changeErrorImage("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Cross_red_circle.svg/1024px-Cross_red_circle.svg.png")
				break;
			}
		}
		catch (error) {
			console.error(error);
			console.error(`Failed to ping transaction :${transaction.txn_identifier}`);
		}
	}


	async function void_transaction(transaction) {
		try {
			const response = await fetch("/example/payment/void", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					txn_identifier:   transaction.txn_identifier,
					transaction_date: transaction.transaction_date,
					transaction_time: transaction.transaction_time,
					stan:             transaction.stan,
					amount:           transaction.amount
				})
			});

			if (!response.ok) { 
				changeErrorImage("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Cross_red_circle.svg/1024px-Cross_red_circle.svg.png")
				throw new Error ("Failed to void transaction");
			}
			const content = await response.json();
			const status  = content.status;
			
			switch (status) {
				case 1:
					console.log(`Transaction cancelled successfully`);
				break;

				default:
					console.log(`No action required`);
				break;
			}
		}
		catch (error) {
			console.error(error);
			console.error(`Failed to void transaction :${transaction.txn_identifier}`);
		}
	}
</script>
