<title>Chefront - {{restaurant.business_name}}</title>

<link rel="stylesheet" href="/public/css/restaurant.css">

<section>
    <div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="booking-cta">
                            <div class="card pt-2 p-3 mb-2">
                                <img src="/{{restaurant.thumbnail}}"/>
                            </div>
							<div class="card pt-2 p-3 mb-2">
                                <div>
                                    <h3>{{restaurant.business_name}}</h3>
                                    <h5>{{restaurant.location}} • ${{restaurant.price}}</h5>
                                </div>
                            </div>
                            <div class="card pt-2 p-3 mb-2">
                                <div>
                                    <h5>Description</h5>
                                    <p>{{restaurant.description}}</p>
                                </div>
                            </div>
						</div>
					</div>
					<div class="col-md-5 col-md-pull-7">
						<div class="booking-form" style="padding-top:15px;">
							<form action="/restaurant/{{restaurant.business_name}}/{{restaurant.location}}" method="post">
                                <span class="form-label" style="font-size: larger">Reservation Details</span>
                                <br><br>
                                <input type="hidden" value="{{restaurant.business_name}}" name="BusinessName">
                                <input type="hidden" value="{{restaurant.location}}" name="Location">
                                {{#if user}}
                                    <div class="form-group">
                                        <span class="form-label">Your Name</span>
                                        <input class="form-control" type="text" value="{{user.first_name}} {{user.last_name}}" name="Name">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Email</span>
                                                <input class="form-control" type="text" value="{{user.email}}" name="Email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Contact</span>
                                                <input class="form-control" type="text" value="{{user.contact}}" name="Contact">
                                            </div>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="form-group">
                                        <span class="form-label">Your Name</span>
                                        <input class="form-control" type="text" placeholder="" name="user_name"> 
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Email</span>
                                                <input class="form-control" type="text" placeholder="" name="user_email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Contact</span>
                                                <input class="form-control" type="text" placeholder="" name="user_contact">
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Date</span>
											<input class="form-control" type="date" name="ResDate" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Pax</span>
											<select class="form-control" name="Pax">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
											<span class="form-label">Discount</span>
                                            <div class="form-control" style="height: 90px">
                                                {{#each discountslot}}
                                                    <label class="reservation" style="margin-right: 5px">
                                                        <input type="radio" name="Slot" value="{{time}},{{discount}}">
                                                        <div class="background"></div>
                                                        <p class="time">{{time}}</p>
                                                        <p class="discount">{{discount}}%</p>
                                                    </label>
                                                {{/each}}
                                            </div>
                                            </select>
                                        </div>
                                    </div>
								</div>
								<div class="form-btn">
									<button class="submit-btn">Book now</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>