<title>Chefront - {{restaurant.name}}</title>

<link rel="stylesheet" href="/public/css/restaurant.css">

<section>
    <div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="booking-cta">
                            <div class="card pt-2 p-3 mb-2" style="position:relative; width:100%; height:100%">
                                <center>
                                <img src="/{{restaurant.thumbnail}}" width="450" height="350" />
                                </center>
                            </div>
							<div class="card pt-2 p-3 mb-2">
                                <div>
                                    <h3 style="display: inline-block;">{{restaurant.name}}     
                                        {{#if user}}
                                        <div class="form-btn" style="display: inline-block; padding-left: 5px">
                                            <a href="/favourite_restaurant/{{restaurant.name}}/{{restaurant.location}}/{{user.email}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                </svg>
                                            </a>
                                        </div>
                                        {{/if}}
                                    </h3>
                                    <h5>{{restaurant.location}} • ${{restaurant.price}} • 
                                        {{#ifEquals restaurant.status "Full"}}
                                            <button class="btn btn-danger" style="pointer-events: none;" id="status_btn">{{restaurant.status}}</button>
                                        {{/ifEquals}}
                                        {{#ifEquals restaurant.status "Available"}}
                                            <button class="btn btn-success" style="pointer-events: none;" id="status_btn">{{restaurant.status}}</button>
                                        {{/ifEquals}}
                                        {{#ifEquals restaurant.status "Moderate"}}
                                            <button class="btn btn-warning" style="pointer-events: none;" id="status_btn">{{restaurant.status}}</button>
                                        {{/ifEquals}} 
                                    </h5>
                                   <a href="/category/{{restaurant.category}}"><h5>{{restaurant.category}}</h5></a>
                                    <iframe width="400" height="250" style="border:0" loading="lazy" allowfullscreen
                                    src ="https://www.google.com/maps/embed/v1/place?q={{restaurant.name}}%20{{restaurant.location}}&key=AIzaSyAG7xcB2a0UsQI6UlWHhFweYZmvurJgwsw" ></iframe>
                            
                                </div>
                            </div>
                            <div class="card pt-2 p-3 mb-2">
                                <div>
                                    <h5>Description</h5>
                                    <p>{{restaurant.description}}</p>
                                </div>
                            </div>
						</div>
					</div>
					<div class="col-md-5 col-md-pull-7">
						<div class="booking-form" style="padding-top:15px;">
                            {{#ifEquals restaurant.status "Full"}}
                                <h4>This outlet is at its maximum capacity.</h4>
                                <br>
                                <h4>Please try again soon.</h4>
                            {{/ifEquals}}
                            {{#ifEquals restaurant.status "Moderate"}}
                                <form action="/restaurant/{{restaurant.name}}/{{restaurant.location}}" method="post">
                                <span class="form-label" style="font-size: larger">Reservation Details</span>
                                <br><br>
                                <input type="hidden" value="{{restaurant.name}}" name="BusinessName">
                                <input type="hidden" value="{{restaurant.location}}" name="Location">
                                {{#if user}}
                                    <div class="form-group">
                                        <span class="form-label">Your Name</span>
                                        <input class="form-control" type="text" value="{{user.name}}" name="Name">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Email</span>
                                                <input class="form-control" type="text" value="{{user.email}}" name="Email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Contact</span>
                                                <input class="form-control" type="text" value="{{user.contact}}" name="Contact">
                                            </div>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="form-group">
                                        <span class="form-label">Your Name</span>
                                        <input class="form-control" type="text" placeholder="" name="user_name"> 
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Email</span>
                                                <input class="form-control" type="text" placeholder="" name="user_email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Contact</span>
                                                <input class="form-control" type="text" placeholder="" name="user_contact">
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Date</span>
											<input class="form-control" id="datefield" type="date" name="ResDate" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Pax</span>
											<select class="form-control" name="Pax">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
											<span class="form-label">Discount</span>
                                            <div class="form-control" style="height: 90px">
                                                {{#each discountslot}}
                                                    <label class="reservation" style="margin-right: 5px">
                                                        <input type="radio" name="Slot" value="{{time}},{{discount}}">
                                                        <div class="background"></div>
                                                        <p class="time">{{time}}</p>
                                                        <p class="discount">{{discount}}%</p>
                                                    </label>
                                                {{/each}}
                                            </div>
                                            </select>
                                        </div>
                                    </div>
								</div>
								<div class="form-btn">
									<button class="submit-btn">Book now</button>
								</div>
							</form>
                            {{/ifEquals}}
                            {{#ifEquals restaurant.status "Available"}}
                                <form action="/restaurant/{{restaurant.name}}/{{restaurant.location}}" method="post">
                                <span class="form-label" style="font-size: larger">Reservation Details</span>
                                <br><br>
                                <input type="hidden" value="{{restaurant.name}}" name="BusinessName">
                                <input type="hidden" value="{{restaurant.location}}" name="Location">
                                {{#if user}}
                                    <div class="form-group">
                                        <span class="form-label">Your Name</span>
                                        <input class="form-control" type="text" value="{{user.name}}" name="Name">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Email</span>
                                                <input class="form-control" type="text" value="{{user.email}}" name="Email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Contact</span>
                                                <input class="form-control" type="text" value="{{user.contact}}" name="Contact">
                                            </div>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="form-group">
                                        <span class="form-label">Your Name</span>
                                        <input class="form-control" type="text" placeholder="" name="user_name"> 
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Email</span>
                                                <input class="form-control" type="text" placeholder="" name="user_email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Your Contact</span>
                                                <input class="form-control" type="text" placeholder="" name="user_contact">
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Date</span>
											<input class="form-control" type="date" name="ResDate" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Pax</span>
											<select class="form-control" name="Pax">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
											<span class="form-label">Discount</span>
                                            <div class="form-control" style="height: 90px">
                                                {{#each discountslot}}
                                                    <label class="reservation" style="margin-right: 5px">
                                                        <input type="radio" name="Slot" value="{{time}},{{discount}}">
                                                        <div class="background"></div>
                                                        <p class="time">{{time}}</p>
                                                        <p class="discount">{{discount}}%</p>
                                                    </label>
                                                {{/each}}
                                            </div>
                                            </select>
                                        </div>
                                    </div>
								</div>
								<div class="form-btn">
									<button class="submit-btn">Book now</button>
								</div>
							</form>
                            {{/ifEquals}}
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	window.onload = function(){
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("datefield").setAttribute("min", today);
    };
</script>