<title>Chefront - Success</title>

<link rel="stylesheet" href="/public/css/restaurant.css">
<link rel="stylesheet" href="/public/css/success.css">
<link rel="stylesheet" href="/public/flaticon/flaticon.css">

<section>
    <header class="site-header" id="header">
		<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
        <h1 class="header">THANK YOU!</h1>
	</header>

	<div class="main-content">
        <p style="font-size: 26px; font-family: Avenir">Your reservation is successful!</p>
        <div class="card main-content" style="width: 25rem;">
            <div class="card-body">
                <span class="form-label" style="font-size: larger">Reservation Details</span>
                <div style="text-align:left;">
                    <p class="card-text">{{reservation.reservation_id}}
                    <p class="card-text">{{reservation.business_name}}</p>
                    <p class="card-text"><i class="flaticon-calendar"></i> {{reservation.user_name}}</p>
                    <p class="card-text"><i class="flaticon-user"></i> {{reservation.pax}}
                    <p class="card-text"><i class="flaticon-clock"></i> {{reservation.time}} / {{reservation.res_date}} / {{reservation.discount}}
                    <br><br>
                </div>
                <form action="/reservations" method="POST">
                    <input type="submit" value="View All Reservations" class="btn btn-danger btnColor right-btn">
                </form>
            </div>
        </div>
    </div>
</section>

